.bookingTitle {
    background: url(../images/page-title-dark.jpg) center;
    padding: 70px 0px 30px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
}

.bookingTitle__text {
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: fit-content;
    color: #fff;
}

.bookingMain {
    background-color: #38322e;
}

.bookingSelect,
.bookingStages {
    background-color: #3d372f;
    font-size: 16px;
    margin-top: 55px;
    border-radius: 3px;
}


//__________________Booking select____________________ 

.bookingSelect__title {
    background-color: #3d372f;
    letter-spacing: 1px;
    font-size: 16px;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 0 10px 0;
}

.bookingSelect__divide {
    margin: 0;
}

.bookingSelect__nights,
.bookingSelect__dateSelect {
    width: 100%;
}

.bookingSelect__selectorTitle {
    font-size: 12px;
}

.bookingSelect__selector {
    background-color: #5c5245 !important;
}

.bookingSelect__findButton {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #967c61;
}

// __________________Booking stages___________________

.bookingContainer {
    margin-left: 30px;
}


.bookingStages__stage {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    font-size: 13px;
    font-weight: bold;
    color: #b4a38f;
    cursor: pointer;

}

.bookingStages__stage>span::after {
    content: '';
    position: absolute;
    padding: 15px;
    -webkit-box-shadow: 2px -2px #967c61;
    border: solid transparent;
    transform: rotate(45deg) translateY(-7px);
}

.bookingStages__stage__currentStage {
    color: #fff;
}


//____________________________________________

.card,
.card-header {
    background-color: #353535 !important;
    color: white !important;
}

// _____________________rdrCalendar______________________

.rdrCalendarWrapper {
    width: 100%;
    background-color: #1c1c1c;
    font-size: 14px;
    border-radius: 3px;
}

.rdrDayNumber span {
    color: white;

}

.rdrDayPassive .rdrDayNumber span {
    color: #6e6e6e;
}

div.rdrMonths {
    justify-content: space-around;
}

.bookingCalendar {
    margin-bottom: 55px;
    margin-top: 20px;
}

//____________________second_stage______________________

.roomBlock {
    margin-top: 30px;
    margin-bottom: 60px;
}

.roomBlock__title {
    width: fit-content;
}

.roomBlock__text {
    color: #ad977b;
    font-size: 17px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.roomBlock__info {
    margin-bottom: 25px;
    margin-top: 25px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px;
    border-color: #3a3a3a;
    color: #ffffff;
    font-weight: bold;
}

.roomBlock__info__values {
    font-weight: normal;
    font-style: italic;
    margin-right: 15px;
}

.roomBlock__description {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-color: #3a3a3a;
    color: #cccccc;
    line-height: 1.7;
}

.roomBlock__footer {
    margin-top: 24px;
    margin-bottom: 0px;
}

.roomBlock__button {
    font-weight: bold;
    font-style: italic;
    background-color: #967c61;
    font-size: 13px;
    height: 100%;
}

.roomBlock__button:hover {
    font-weight: bold;
    font-style: italic;
    background-color: #967c61;
}


.roomBlock__priceWrap {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 0;
}

.roomBlock__priceElement {
    margin-bottom: 0;
    margin-left: auto;
}

.roomBlock__price {
    font-size: 15px;
    margin-right: 10px;
    font-style: italic;
    color: #cccccc;
}

.roomBlock__price__highlighted {
    font-style: normal;
    color: #74b7d3;
    font-size: 19px;
}

.roomBlock__showPrice {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 12px;
    cursor: pointer;
    color: #cccccc;
}

//_______________third_stage_________________

.personInfo {
    margin-top: 30px;
}

.personInfo__title {
    font-style: italic;
    margin-bottom: 7px;
    font-size: 13px;
    color: #cccccc;
}

.personInfo__input {
    margin-bottom: 20px;
}

.personInfo__button {
    width: 100%;
    background-color: #967c61;
    font-weight: bold;
    font-style: italic;
    height: 50px;
    margin-bottom: 50px;
}