.bookingTitle {
    background: url(../images/page-title-dark.jpg) center;
    padding: 70px 0px 30px;
    position: relative;
    z-index: 89;
    text-align: center;
    line-height: 1;
}

.bookingTitle__text {
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: fit-content;
    color: #fff;
}

.bookingMain {
    background-color: #38322e;
}

.bookingSelect,
.bookingStages {
    background-color: #3d372f;
    font-size: 16px;
    margin-top: 55px;
    border-radius: 3px;
}


//__________________Booking select____________________ 

.bookingSelect__title {
    background-color: #3d372f;
    letter-spacing: 1px;
    font-size: 16px;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 0 10px 0;
}

.bookingSelect__divide {
    margin: 0;
}

.bookingSelect__nights,
.bookingSelect__dateSelect {
    width: 100%;
}

.bookingSelect__selectorTitle {
    font-size: 12px;
}

.bookingSelect__findButton {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #967c61;
}

// __________________Booking stages___________________

.bookingContainer {
    margin-left: 30px;
}


.bookingStages__stage {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    font-size: 13px;
    font-weight: bold;
}

.bookingStages__stage>span::after {
    content: '';
    position: absolute;
    padding: 15px;
    -webkit-box-shadow: 2px -2px #967c61;
    border: solid transparent;
    // border-width: 0 0 2rem 2rem;
    transform: rotate(45deg) translateY(-7px);
}


//____________________________________________

.card,
.card-header {
    background-color: #353535 !important;
    color: white !important;
}

// _____________________rdrCalendar______________________

.rdrCalendarWrapper {
    width: 100%;
    background-color: #1c1c1c;
    font-size: 14px;
    border-radius: 3px;
}

.rdrDayNumber span {
    color: white;

}

.rdrDayPassive .rdrDayNumber span {
    color: #6e6e6e;
}

div.rdrMonths {
    justify-content: space-around;
}

.bookingCalendar {
    margin-bottom: 55px;
    margin-top: 20px;
}