@import '_variables.less';

html,
body,
#root {
    height: 100%;
    background-image: url('../images/bg-pattern.png');
    font-family: "Open Sans", sans-serif;
    color: #fff;
    --antd-wave-shadow-color: black;
}

.layoutAntd {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contentAntd {
    flex: 1 0 auto;
}

.contentMain{
    background-color: #38322e;
}

.footerAntd {
    flex-shrink: 0;
}